In [2]:
## Import datetime 
import datetime
from datetime import timedelta, date

In [3]:
## Write a date.time script that iterates between two dates at a set delta (in this case delta = 7, or every Saturday
## to get the 2019 and 2020 data from the )

start_date = date(2020,8,1)
end_date = date(2020,12,19)
delta = datetime.timedelta(days=7)

In [4]:
## create an empty list where the time.delta will populate

## dates_mta = []

## while start_date <= end_date:
    start_date += delta
    d = start_date.strftime("%y%m%d") 
    dates_mta.append(int(d))

In [5]:
## Check if my list worked 
## This is my list of weeks to be scraped from the mta website. 

## dates_mta

[200808,
 200815,
 200822,
 200829,
 200905,
 200912,
 200919,
 200926,
 201003,
 201010,
 201017,
 201024,
 201031,
 201107,
 201114,
 201121,
 201128,
 201205,
 201212,
 201219,
 201226]

In [6]:
## Import the necessary package to web scrape the txt files from the NYC MTA website using my dates_mta list. 
import urllib.request

In [7]:
## Identify the url where I will be web scraping. 
## Below the URl is where I set my dates_mta list to equal week_nums which will be fed into the URL request command in cell 34.


url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
week_nums = dates_mta

In [8]:
## Create a forloop to scrape the .txt's from the mta website and put them into my eta project data folder. 

##for week_num in week_nums:
    ##urllib.request.urlretrieve(f"http://web.mta.info/developers/data/nyct/turnstile/turnstile_{week_num}.txt",
                               f"data/turnstile_{week_num}.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'data/turnstile_200808.txt'

In [ ]:
## Creat a database in sqlite in terminal 
## .sqlite3 mta_2020.db

In [ ]:
## Below was pasted into sqlite3 in terminal to create a table in my databse called "meta_data_19_20"

CREATE TABLE nyc_mta_data_2020 (
	CA TEXT,
	UNIT TEXT,
	SCP TEXT,
	STATION TEXT,
	LINENAME TEXT,
	DIVISION TEXT,
	DATE TEXT,
	TIME TEXT,
	DESC TEXT,
	ENTRIES INTEGER,
	EXITS INTEGER,
	PRIMARY KEY (CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS)
	);

In [ ]:
## Ran this code in sqlite3 in terminal to insert the entire csv into the table "mta_data_19_20" into my "mta_2019_2020.db"
.mode csv
.import mta_2020_combined.csv  nyc_mta_data_2020

In [ ]:
## Install SQLalchemy
pip install sqlalchemy

In [9]:
## Load the SQLalchemy packages needed to clean data. 
from sqlalchemy import create_engine
import numpy as pd
import pandas as pd

In [10]:
## Load my mta 2020 data from my database into python/SQL Alchemy DO THS EVERY TIME I OPEN MY COMPUTER IN THE MORNING

engine = create_engine("sqlite:///NYC_MTA_DATA.db")
df = pd.read_sql('SELECT * FROM nyc_mta_data_2020;', engine)

In [ ]:
## Reading the combined csv. Don't need to run this because I did above. 
df = pd.read_csv("mta_2020_combined.csv")

In [11]:
## Importing a toolbox so I can extend the number of rows visible in the head() output
from functools import partialmethod

In [12]:
## Extending the number of rows visible in the head() output
pd.DataFrame.head = partialmethod(pd.DataFrame.head, n=10)
df.head()

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,00:00:00,REGULAR,7439363,2529044
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,04:00:00,REGULAR,7439367,2529046
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,08:00:00,REGULAR,7439379,2529055
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,12:00:00,REGULAR,7439412,2529092
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,16:00:00,REGULAR,7439487,2529108
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/01/2020,20:00:00,REGULAR,7439621,2529122
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/02/2020,00:00:00,REGULAR,7439674,2529134
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/02/2020,04:00:00,REGULAR,7439678,2529136
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/02/2020,08:00:00,REGULAR,7439685,2529148
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/02/2020,12:00:00,REGULAR,7439696,2529164

In [ ]:
df.head()

In [ ]:
#Cleaning Step #2 Delete the top row of my data that was a copy of the column headers
##SELECT COUNT (*) FROM nyc_mta_data_2020 WHERE CA = 'C/A' 
##DELETE FROM nyc_mta_data_2020 WHERE CA = 'C/A'

In [ ]:
## I noticed the times in my table were an hour off. This replace function will change the times. I decided this is an 
## optional cleaning step because I will be grouping the entries by days and not by smaller time ranges within a day.

## df['TIME'] = df['TIME'].replace('03:00:00' ,'04:00:00')
## df['TIME'] = df['TIME'].replace('07:00:00', '08:00:00')
## df['TIME'] = df['TIME'].replace('11:00:00' ,'12:00:00')
## df['TIME'] = df['TIME'].replace('15:00:00', '16:00:00')
## df['TIME'] = df['TIME'].replace('19:00:00' ,'20:00:00')
## df['TIME'] = df['TIME'].replace('23:00:00', '00:00:00')

In [13]:
# Take the date and time fields into a single datetime column

df["DATE_TIME"] = pd.to_datetime(df.DATE + " " + df.TIME,
                                 format="%m/%d/%Y %H:%M:%S")

In [ ]:
df.head()

BELOW: Finding and deleting duplicate data from MTA_Exercises_solutions_1

In [14]:
## Isolate a unique turnstile in a mask
mask = ((df["CA"] == "TRAM2") &
        (df["UNIT"] == "R469") & 
        (df["SCP"] == "00-05-01") & 
        (df["STATION"] == "RIT-ROOSEVELT"))

df[mask].head()

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
207070,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/01/2020,01:00:00,REGULAR,5554,538,2020-08-01 01:00:00
207071,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/01/2020,05:00:00,REGULAR,5554,538,2020-08-01 05:00:00
207072,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/01/2020,09:00:00,REGULAR,5554,538,2020-08-01 09:00:00
207073,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/01/2020,13:00:00,REGULAR,5554,538,2020-08-01 13:00:00
207074,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/01/2020,17:00:00,REGULAR,5554,538,2020-08-01 17:00:00
207075,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/01/2020,21:00:00,REGULAR,5554,538,2020-08-01 21:00:00
207076,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2020,01:00:00,REGULAR,5554,538,2020-08-02 01:00:00
207077,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2020,05:00:00,REGULAR,5554,538,2020-08-02 05:00:00
207078,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2020,09:00:00,REGULAR,5554,538,2020-08-02 09:00:00
207079,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,08/02/2020,13:00:00,REGULAR,5554,538,2020-08-02 13:00:00

In [15]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df.
 groupby(["CA", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head()

            CA  UNIT       SCP          STATION           DATE_TIME  ENTRIES
2456024   N701  R571  00-00-00      86 ST-2 AVE 2020-09-24 09:00:00        2
717823    H009  R235  00-06-00       BEDFORD AV 2020-08-13 04:00:00        2
2823373   R110  R027  01-00-02          WALL ST 2020-12-15 03:00:00        2
2823374   R110  R027  01-00-02          WALL ST 2020-12-15 07:00:00        2
717964    H009  R235  00-06-01       BEDFORD AV 2020-08-12 20:00:00        2
717963    H009  R235  00-06-01       BEDFORD AV 2020-08-12 16:00:00        2
717817    H009  R235  00-06-00       BEDFORD AV 2020-08-12 16:00:00        2
717822    H009  R235  00-06-00       BEDFORD AV 2020-08-13 00:00:00        2
962112   N007A  R174  00-00-00           181 ST 2020-09-23 13:00:00        2
4288497   R627  R063  00-00-01  SUTTER AV-RUTLD 2020-09-08 00:00:00        2

In [16]:
# On 09/24/2020, we seem to have two entries for same time.  Let's take a look
mask = ((df["CA"] == "N701") & 
(df["UNIT"] == "R571") & 
(df["SCP"] == "00-00-00") & 
(df["STATION"] == "86 ST-2 AVE") &
(df["DATE_TIME"].dt.date == datetime.datetime(2020, 9, 24).date()))

df[mask].head()

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
1586270,N701,R571,00-00-00,86 ST-2 AVE,Q,IND,09/24/2020,01:00:00,REGULAR,5434840,3126495,2020-09-24 01:00:00
1586271,N701,R571,00-00-00,86 ST-2 AVE,Q,IND,09/24/2020,04:00:00,RECOVR AUD,7,160,2020-09-24 04:00:00
1586272,N701,R571,00-00-00,86 ST-2 AVE,Q,IND,09/24/2020,05:00:00,REGULAR,5434840,3126497,2020-09-24 05:00:00
1586273,N701,R571,00-00-00,86 ST-2 AVE,Q,IND,09/24/2020,09:00:00,REGULAR,5435110,3126894,2020-09-24 09:00:00
1586274,N701,R571,00-00-00,86 ST-2 AVE,Q,IND,09/24/2020,09:00:00,RECOVR AUD,7,236,2020-09-24 09:00:00
1586275,N701,R571,00-00-00,86 ST-2 AVE,Q,IND,09/24/2020,13:00:00,REGULAR,5435437,3127196,2020-09-24 13:00:00
1586276,N701,R571,00-00-00,86 ST-2 AVE,Q,IND,09/24/2020,17:00:00,REGULAR,5435953,3127581,2020-09-24 17:00:00
1586277,N701,R571,00-00-00,86 ST-2 AVE,Q,IND,09/24/2020,21:00:00,REGULAR,5436427,3127989,2020-09-24 21:00:00

In [17]:
df.DESC.value_counts()

REGULAR       4400261
RECOVR AUD      18025
Name: DESC, dtype: int64

In [18]:
# Get rid of the duplicate entry
# EXPLAIN WHY I MADE THE DECISION TO DELETE THE DUPLICATE RECOVER AUDITS 

df.sort_values(["CA", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=False)
df.drop_duplicates(subset=["CA", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [19]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df
 .groupby(["CA", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head()

           CA  UNIT       SCP         STATION           DATE_TIME  ENTRIES
0        A002  R051  02-00-00           59 ST 2020-08-01 00:00:00        1
2945500  R138  R293  00-00-01  34 ST-PENN STA 2020-10-18 22:00:00        1
2945486  R138  R293  00-00-01  34 ST-PENN STA 2020-10-16 14:00:00        1
2945487  R138  R293  00-00-01  34 ST-PENN STA 2020-10-16 18:00:00        1
2945488  R138  R293  00-00-01  34 ST-PENN STA 2020-10-16 22:00:00        1
2945489  R138  R293  00-00-01  34 ST-PENN STA 2020-10-17 02:00:00        1
2945490  R138  R293  00-00-01  34 ST-PENN STA 2020-10-17 06:00:00        1
2945491  R138  R293  00-00-01  34 ST-PENN STA 2020-10-17 10:00:00        1
2945492  R138  R293  00-00-01  34 ST-PENN STA 2020-10-17 14:00:00        1
2945493  R138  R293  00-00-01  34 ST-PENN STA 2020-10-17 18:00:00        1

BELOW: IDENTIFYING OUTLIERS BY FIRST GROUPING TURNSTILES TOGETHER TO GET DAILY MAXIMUM ENTRIES FOR EACH UNIQUE TURNSTILE. SCRIPTS TAKEN FROM MTA_EXERCISE_1_SOLUTIONS PROBLEM 3a.

In [20]:
df[(df["CA"] == "R138") & 
(df["UNIT"] == "R293") & 
(df["SCP"] == "00-00-01") & 
(df["STATION"] == "34 ST-PENN STA") &
(df["DATE"] == "10/18/2020")]

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
2450393,R138,R293,00-00-01,34 ST-PENN STA,123ACE,IRT,10/18/2020,22:00:00,REGULAR,11216366,5808856,2020-10-18 22:00:00
2450392,R138,R293,00-00-01,34 ST-PENN STA,123ACE,IRT,10/18/2020,18:00:00,REGULAR,11216146,5808822,2020-10-18 18:00:00
2450391,R138,R293,00-00-01,34 ST-PENN STA,123ACE,IRT,10/18/2020,14:00:00,REGULAR,11215928,5808754,2020-10-18 14:00:00
2450390,R138,R293,00-00-01,34 ST-PENN STA,123ACE,IRT,10/18/2020,10:00:00,REGULAR,11215725,5808696,2020-10-18 10:00:00
2450389,R138,R293,00-00-01,34 ST-PENN STA,123ACE,IRT,10/18/2020,06:00:00,REGULAR,11215645,5808642,2020-10-18 06:00:00
2450388,R138,R293,00-00-01,34 ST-PENN STA,123ACE,IRT,10/18/2020,02:00:00,REGULAR,11215638,5808636,2020-10-18 02:00:00

The maximum ENTRIES value would occur at the last reading of the day. 
Since rows are listed in descending order of time, we can grab the last reading of the day 
(located at the top of the group) using the .first() DataFrame method.

In [21]:
turnstiles_daily = (df
                        .groupby(["CA", "UNIT", "SCP", "STATION", "DATE",],as_index=False)
                        .ENTRIES.first())

In [22]:
turnstiles_daily.head()

     CA  UNIT       SCP STATION        DATE  ENTRIES
0  A002  R051  02-00-00   59 ST  08/01/2020  7439621
1  A002  R051  02-00-00   59 ST  08/02/2020  7439837
2  A002  R051  02-00-00   59 ST  08/03/2020  7440260
3  A002  R051  02-00-00   59 ST  08/04/2020  7440601
4  A002  R051  02-00-00   59 ST  08/05/2020  7441060
5  A002  R051  02-00-00   59 ST  08/06/2020  7441573
6  A002  R051  02-00-00   59 ST  08/07/2020  7442072
7  A002  R051  02-00-00   59 ST  08/08/2020  7442375
8  A002  R051  02-00-00   59 ST  08/09/2020  7442609
9  A002  R051  02-00-00   59 ST  08/10/2020  7443027

BELOW: 

Problem 3b

Use the daily maximum ENTRIES calculations from Problem 3a. Recall that the ENTRIES column contains cumulative entries on each day. We would now like you to calculate daily entries, i.e. the number of new entries gained each day.
Hint: Group the data by turnstile. Check out the .shift() (or .diff()) DataFrame methods for this purpose. Ensure things make sense; you may need to use the  .apply() method for abnormalities.

In [23]:
turnstiles_daily[["PREV_DATE", "PREV_ENTRIES"]] = (turnstiles_daily
                                                       .groupby(["CA", "UNIT", "SCP", "STATION"])[["DATE", "ENTRIES"]]
                                                       .shift(1))

In [24]:
turnstiles_daily.head()

     CA  UNIT       SCP STATION        DATE  ENTRIES   PREV_DATE  PREV_ENTRIES
0  A002  R051  02-00-00   59 ST  08/01/2020  7439621         NaN           NaN
1  A002  R051  02-00-00   59 ST  08/02/2020  7439837  08/01/2020     7439621.0
2  A002  R051  02-00-00   59 ST  08/03/2020  7440260  08/02/2020     7439837.0
3  A002  R051  02-00-00   59 ST  08/04/2020  7440601  08/03/2020     7440260.0
4  A002  R051  02-00-00   59 ST  08/05/2020  7441060  08/04/2020     7440601.0
5  A002  R051  02-00-00   59 ST  08/06/2020  7441573  08/05/2020     7441060.0
6  A002  R051  02-00-00   59 ST  08/07/2020  7442072  08/06/2020     7441573.0
7  A002  R051  02-00-00   59 ST  08/08/2020  7442375  08/07/2020     7442072.0
8  A002  R051  02-00-00   59 ST  08/09/2020  7442609  08/08/2020     7442375.0
9  A002  R051  02-00-00   59 ST  08/10/2020  7443027  08/09/2020     7442609.0

In [25]:
# Drop the rows for the earliest date in the df
turnstiles_daily.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [26]:
## Let's check that worked! 

turnstiles_daily.head()

,CA,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
1,A002,R051,02-00-00,59 ST,08/02/2020,7439837,08/01/2020,7439621.0
2,A002,R051,02-00-00,59 ST,08/03/2020,7440260,08/02/2020,7439837.0
3,A002,R051,02-00-00,59 ST,08/04/2020,7440601,08/03/2020,7440260.0
4,A002,R051,02-00-00,59 ST,08/05/2020,7441060,08/04/2020,7440601.0
5,A002,R051,02-00-00,59 ST,08/06/2020,7441573,08/05/2020,7441060.0
6,A002,R051,02-00-00,59 ST,08/07/2020,7442072,08/06/2020,7441573.0
7,A002,R051,02-00-00,59 ST,08/08/2020,7442375,08/07/2020,7442072.0
8,A002,R051,02-00-00,59 ST,08/09/2020,7442609,08/08/2020,7442375.0
9,A002,R051,02-00-00,59 ST,08/10/2020,7443027,08/09/2020,7442609.0
10,A002,R051,02-00-00,59 ST,08/11/2020,7443474,08/10/2020,7443027.0

Gut check. We should expect positive daily entries, and nothing drastically large:

In [27]:
(turnstiles_daily["ENTRIES"] - turnstiles_daily["PREV_ENTRIES"]).describe()

count    7.237450e+05
mean    -6.109537e+03
std      4.263246e+06
min     -1.309709e+09
25%      4.700000e+01
50%      1.870000e+02
75%      3.980000e+02
max      1.600009e+09
dtype: float64


A few things are happening:
We have negative values.
Some values are way too big (see the difference between the max and the 75% percentile).
We can address these all at once.

In [28]:
# How many rows are backwards
turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].shape

(6489, 8)

In [29]:
turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]].head()

,CA,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES
5692,A011,R080,01-03-00,57 ST-7 AV,08/02/2020,885657880,08/01/2020,885657942.0
5693,A011,R080,01-03-00,57 ST-7 AV,08/03/2020,885657725,08/02/2020,885657880.0
5694,A011,R080,01-03-00,57 ST-7 AV,08/04/2020,885657567,08/03/2020,885657725.0
5695,A011,R080,01-03-00,57 ST-7 AV,08/05/2020,885657416,08/04/2020,885657567.0
5696,A011,R080,01-03-00,57 ST-7 AV,08/06/2020,885657271,08/05/2020,885657416.0
5697,A011,R080,01-03-00,57 ST-7 AV,08/07/2020,885657115,08/06/2020,885657271.0
5698,A011,R080,01-03-00,57 ST-7 AV,08/08/2020,885657029,08/07/2020,885657115.0
5699,A011,R080,01-03-00,57 ST-7 AV,08/09/2020,885656960,08/08/2020,885657029.0
5700,A011,R080,01-03-00,57 ST-7 AV,08/10/2020,885656831,08/09/2020,885656960.0
5701,A011,R080,01-03-00,57 ST-7 AV,08/11/2020,885656680,08/10/2020,885656831.0

Interlude: Reverse Entries
To try and investigate what is going on, we'll pick one of these turnstile-days (namely, the first one), and check the course of events.

In [30]:
# What's the deal with counter being in reverse
mask = ((df["CA"] == "A011") & 
(df["UNIT"] == "R080") & 
(df["SCP"] == "01-03-00") & 
(df["STATION"] == "57 ST-7 AV") &
(df["DATE_TIME"].dt.date == datetime.date(2020, 8, 2)))

In [31]:
# It's actually a good idea to plot this, if you could
df[mask].sort_values('DATE_TIME')[['DATE', 'TIME', 'ENTRIES',]]

            DATE      TIME    ENTRIES
1618  08/02/2020  00:00:00  885657921
1619  08/02/2020  04:00:00  885657917
1620  08/02/2020  08:00:00  885657915
1621  08/02/2020  12:00:00  885657908
1622  08/02/2020  16:00:00  885657893
1623  08/02/2020  20:00:00  885657880

My statistics show that there are reversed counting but the codes I followed didn't show the reversed counters in the ln[79]

In [32]:
# Let's see how many stations are in reverse
(turnstiles_daily[turnstiles_daily["ENTRIES"] < turnstiles_daily["PREV_ENTRIES"]]
    .groupby(["CA", "UNIT", "SCP", "STATION"])
    .size())

CA    UNIT  SCP       STATION
A011  R080  01-03-00  57 ST-7 AV         146
A014  R081  02-00-00  49 ST                1
A025  R023  01-03-01  34 ST-HERALD SQ     32
A039  R085  01-00-00  8 ST-NYU             1
            01-03-01  8 ST-NYU             1
                                        ...
R647  R110  02-05-00  FLATBUSH AV-B.C      1
            02-05-01  FLATBUSH AV-B.C      2
R728  R226  00-00-00  GUN HILL RD          1
            00-00-01  GUN HILL RD          1
R730  R431  00-00-04  EASTCHSTER/DYRE    146
Length: 311, dtype: int64

In [33]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    
    if counter < 0:
        counter = -counter  # adjust for "reverse" counter
        
    if counter > max_counter:
        # Maybe counter was reset, so it may make sense to take the minimum
        print(f'entries: {row["ENTRIES"]} <-- {row["PREV_ENTRIES"]}')
        counter = min(row["ENTRIES"], row["PREV_ENTRIES"])
        
    if counter > max_counter:
        # If we still get a counter that is too big, set to zero
        return 0
    
    return counter

turnstiles_daily["DAILY_ENTRIES"] = turnstiles_daily.apply(get_daily_counts, axis=1, max_counter=1000000)

entries: 289 <-- 3055256.0
entries: 348 <-- 1237351900.0
entries: 123 <-- 1630877.0
entries: 20 <-- 2642748.0
entries: 26 <-- 3963030.0
entries: 408 <-- 4676418.0
entries: 12 <-- 1309708904.0
entries: 210 <-- 2427404.0
entries: 379 <-- 1208236.0
entries: 88 <-- 1197880.0
entries: 262182 <-- 6657224.0
entries: 248 <-- 1264348.0
entries: 1294 <-- 6496220.0
entries: 455 <-- 2822958.0
entries: 524338 <-- 67889725.0
entries: 372 <-- 4971113.0
entries: 544 <-- 475738131.0
entries: 5177693 <-- 17134751.0
entries: 233 <-- 2297325.0
entries: 219 <-- 1875169.0
entries: 631046281 <-- 246545.0
entries: 112 <-- 631050303.0
entries: 606 <-- 8096346.0
entries: 1136721145 <-- 6439404.0
entries: 212 <-- 3145253.0
entries: 590069 <-- 1906617.0
entries: 91 <-- 4038371.0
entries: 172229024 <-- 8843948.0
entries: 157 <-- 3563454.0
entries: 144 <-- 3086960.0
entries: 186 <-- 12153427.0
entries: 279 <-- 8291685.0
entries: 63 <-- 1074082.0
entries: 6 <-- 10731820.0
entries: 33 <-- 15171263.0
entries: 77 <-- 15185542.0
entries: 33567747 <-- 143338.0
entries: 1610558722 <-- 10549231.0
entries: 120 <-- 3319940.0
entries: 100 <-- 2493895.0
entries: 280 <-- 7355319.0
entries: 351 <-- 394320240.0
entries: 156 <-- 8876671.0
entries: 1160 <-- 2419490.0
entries: 524299 <-- 117443285.0
entries: 37 <-- 3334731.0
entries: 746 <-- 342505202.0
entries: 524311 <-- 102677421.0
entries: 3834145 <-- 983905.0
entries: 160 <-- 3834145.0
entries: 262145 <-- 50332023.0
entries: 589865448 <-- 6311679.0
entries: 6313226 <-- 589865448.0
entries: 4456968 <-- 49195.0
entries: 50260 <-- 4456968.0
entries: 3302818 <-- 519122.0
entries: 520208 <-- 3302818.0
entries: 134277383 <-- 525023.0
entries: 458765 <-- 134277578.0
entries: 278 <-- 5239290.0
entries: 318 <-- 3251529.0
entries: 81 <-- 644689531.0
entries: 174 <-- 6817281.0
entries: 459319 <-- 1518041.0
entries: 10 <-- 2197669.0
entries: 165 <-- 2351204.0
entries: 23 <-- 134570115.0
entries: 69 <-- 1021601.0
entries: 1021605 <-- 835.0
entries: 839 <-- 1483975.0
entries: 5 <-- 2706972.0
entries: 93 <-- 1325337.0
entries: 147 <-- 12840762.0
entries: 210 <-- 12003425.0
entries: 35 <-- 3732118.0
entries: 890 <-- 10054500.0
entries: 78 <-- 1242136770.0
entries: 127 <-- 7326231.0
entries: 500 <-- 3115313.0
entries: 61 <-- 3080422.0
entries: 172 <-- 5912692.0
entries: 955056270 <-- 4994242.0
entries: 262248 <-- 955056882.0
entries: 524450 <-- 6946638.0
entries: 1055 <-- 4845991.0
entries: 917504 <-- 67108864.0
entries: 721366 <-- 6946581.0
entries: 245 <-- 2787060.0
entries: 524292 <-- 2226894.0
entries: 218 <-- 2867603.0
entries: 230 <-- 5324632.0
entries: 983451 <-- 4659872.0
entries: 95 <-- 1143524.0
entries: 197 <-- 5125463.0
entries: 187 <-- 7855959.0
entries: 517 <-- 1786225.0
entries: 499 <-- 42927148.0
entries: 7 <-- 5433033.0
entries: 5436427 <-- 7.0
entries: 625 <-- 3795641.0
entries: 1397029 <-- 3004522.0
entries: 54 <-- 4112456.0
entries: 48 <-- 5583003.0
entries: 28 <-- 6190595.0
entries: 38 <-- 235366971.0
entries: 870767 <-- 2522090.0
entries: 92 <-- 1311697.0
entries: 315 <-- 6289129.0
entries: 263 <-- 2087362.0
entries: 195 <-- 9679898.0
entries: 212 <-- 6658385.0
entries: 60 <-- 5373982.0
entries: 18 <-- 1437665.0
entries: 126 <-- 2836277.0
entries: 103 <-- 3299852.0
entries: 262146 <-- 67110893.0
entries: 545 <-- 2888736.0
entries: 5 <-- 13122450.0
entries: 21 <-- 2166896.0
entries: 9 <-- 1031327.0
entries: 10 <-- 3109024.0
entries: 308 <-- 5182656.0
entries: 177 <-- 10323516.0
entries: 10 <-- 6428987.0
entries: 4 <-- 7751347.0
entries: 160 <-- 8634390.0
entries: 144 <-- 21377118.0
entries: 550 <-- 16283553.0
entries: 90 <-- 3463880.0
entries: 592403 <-- 4715175.0
entries: 196 <-- 4008525.0
entries: 32 <-- 6478782.0
entries: 285 <-- 3953135.0
entries: 311 <-- 352594526.0
entries: 65841 <-- 2356117.0
entries: 8 <-- 1119006.0
entries: 1119053 <-- 8.0
entries: 240 <-- 1614792.0
entries: 720897 <-- 117445467.0
entries: 131 <-- 3201434.0
entries: 655577 <-- 10696562.0
entries: 280 <-- 2867953.0
entries: 128 <-- 1589490.0
entries: 112 <-- 1210137.0
entries: 38 <-- 1185237.0
entries: 22 <-- 5621555.0
entries: 24 <-- 3242985.0

In [34]:
turnstiles_daily.head()

,CA,UNIT,SCP,STATION,DATE,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
1,A002,R051,02-00-00,59 ST,08/02/2020,7439837,08/01/2020,7439621.0,216.0
2,A002,R051,02-00-00,59 ST,08/03/2020,7440260,08/02/2020,7439837.0,423.0
3,A002,R051,02-00-00,59 ST,08/04/2020,7440601,08/03/2020,7440260.0,341.0
4,A002,R051,02-00-00,59 ST,08/05/2020,7441060,08/04/2020,7440601.0,459.0
5,A002,R051,02-00-00,59 ST,08/06/2020,7441573,08/05/2020,7441060.0,513.0
6,A002,R051,02-00-00,59 ST,08/07/2020,7442072,08/06/2020,7441573.0,499.0
7,A002,R051,02-00-00,59 ST,08/08/2020,7442375,08/07/2020,7442072.0,303.0
8,A002,R051,02-00-00,59 ST,08/09/2020,7442609,08/08/2020,7442375.0,234.0
9,A002,R051,02-00-00,59 ST,08/10/2020,7443027,08/09/2020,7442609.0,418.0
10,A002,R051,02-00-00,59 ST,08/11/2020,7443474,08/10/2020,7443027.0,447.0

In [35]:
turnstiles_daily.DAILY_ENTRIES.describe()

count    723745.000000
mean        358.765050
std        6573.168901
min           0.000000
25%          51.000000
50%         191.000000
75%         404.000000
max      983905.000000
Name: DAILY_ENTRIES, dtype: float64

In [ ]:
## Looks like my min and max are outliers that will need to be looked at? My numbers in the Daily Entries look too big.

Problem 4
So far we've been operating on a single turnstile level. Now let's combine turnstiles that fall within the same ControlArea/Unit/Station combo. There are some ControlArea/Unit/Station groups that have a single turnstile, but most have multiple turnstiles -- same value for the C/A, UNIT and STATION columns, different values for the SCP column.
We want to combine the numbers together. For each ControlArea/UNIT/STATION combo, for each day, sum the counts from each turnstile belonging to that combo. (hint: pd.groupby)

In [36]:
ca_unit_station_daily = turnstiles_daily.groupby(["CA", "UNIT", "STATION", "DATE"])[['DAILY_ENTRIES']].sum().reset_index()
ca_unit_station_daily.head()

     CA  UNIT STATION        DATE  DAILY_ENTRIES
0  A002  R051   59 ST  08/02/2020         1396.0
1  A002  R051   59 ST  08/03/2020         2962.0
2  A002  R051   59 ST  08/04/2020         2771.0
3  A002  R051   59 ST  08/05/2020         3383.0
4  A002  R051   59 ST  08/06/2020         3459.0
5  A002  R051   59 ST  08/07/2020         3368.0
6  A002  R051   59 ST  08/08/2020         1964.0
7  A002  R051   59 ST  08/09/2020         1454.0
8  A002  R051   59 ST  08/10/2020         3057.0
9  A002  R051   59 ST  08/11/2020         3400.0

Problem 5
Similarly, come up with daily time series for each STATION, by adding up the daily entries for all the turnstiles in each station.

In [37]:
station_daily = turnstiles_daily.groupby(["STATION", "DATE",])[['DAILY_ENTRIES']].sum().reset_index()
station_daily.head()

  STATION        DATE  DAILY_ENTRIES
0    1 AV  08/02/2020         2695.0
1    1 AV  08/03/2020         4589.0
2    1 AV  08/04/2020         3909.0
3    1 AV  08/05/2020         4883.0
4    1 AV  08/06/2020         5126.0
5    1 AV  08/07/2020         5124.0
6    1 AV  08/08/2020         3702.0
7    1 AV  08/09/2020         2902.0
8    1 AV  08/10/2020         4540.0
9    1 AV  08/11/2020         4946.0

Problem 6
Over all the weeks provided in the data, sum the total ridership for each station and sort them, so you can find out the stations with the highest traffic during the time we've captured.

In [44]:
station_totals = station_daily.groupby('STATION')['DAILY_ENTRIES'].sum() \
    .reset_index() \
    .sort_values('DAILY_ENTRIES', ascending=False)

station_totals.head()

             STATION  DAILY_ENTRIES
61    34 ST-PENN STA      5487455.0
59   34 ST-HERALD SQ      4187187.0
217    FLUSHING-MAIN      3974386.0
233  GRD CNTRL-42 ST      3886202.0
46             23 ST      3556540.0
212        EUCLID AV      3462777.0
226        FULTON ST      3355790.0
115            96 ST      3320869.0
9             125 ST      3223380.0
110            86 ST      3168741.0

In [45]:
## Importing a toolbox so I can extend the number of rows visible in the head() output
from functools import partialmethod

In [46]:
## Extending the number of rows visible in the head() output
pd.DataFrame.head = partialmethod(pd.DataFrame.head, n=50)
df.head()

,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
4418285,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,20:00:00,REGULAR,5554,541,2020-12-25 20:00:00
4418284,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,16:00:00,REGULAR,5554,541,2020-12-25 16:00:00
4418283,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,12:00:00,REGULAR,5554,541,2020-12-25 12:00:00
4418282,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,08:00:00,REGULAR,5554,541,2020-12-25 08:00:00
4418281,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,04:00:00,REGULAR,5554,541,2020-12-25 04:00:00
4418280,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/25/2020,00:00:00,REGULAR,5554,541,2020-12-25 00:00:00
4418279,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/24/2020,20:00:00,REGULAR,5554,541,2020-12-24 20:00:00
4418278,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/24/2020,16:00:00,REGULAR,5554,541,2020-12-24 16:00:00
4418277,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/24/2020,12:00:00,REGULAR,5554,541,2020-12-24 12:00:00
4418276,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/24/2020,08:00:00,REGULAR,5554,541,2020-12-24 08:00:00
4418275,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/24/2020,04:00:00,REGULAR,5554,541,2020-12-24 04:00:00
4418274,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/24/2020,00:00:00,REGULAR,5554,541,2020-12-24 00:00:00
4418273,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2020,20:00:00,REGULAR,5554,541,2020-12-23 20:00:00
4418272,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2020,16:00:00,REGULAR,5554,541,2020-12-23 16:00:00
4418271,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2020,12:00:00,REGULAR,5554,541,2020-12-23 12:00:00
4418270,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2020,08:00:00,REGULAR,5554,541,2020-12-23 08:00:00
4418269,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2020,04:00:00,REGULAR,5554,541,2020-12-23 04:00:00
4418268,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/23/2020,00:00:00,REGULAR,5554,541,2020-12-23 00:00:00
4418267,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/22/2020,20:00:00,REGULAR,5554,541,2020-12-22 20:00:00
4418266,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/22/2020,16:00:00,REGULAR,5554,541,2020-12-22 16:00:00
4418265,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/22/2020,12:00:00,REGULAR,5554,541,2020-12-22 12:00:00
4418264,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/22/2020,08:00:00,REGULAR,5554,541,2020-12-22 08:00:00
4418263,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/22/2020,04:00:00,REGULAR,5554,541,2020-12-22 04:00:00
4418262,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/22/2020,00:00:00,REGULAR,5554,541,2020-12-22 00:00:00
4418261,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/21/2020,20:00:00,REGULAR,5554,541,2020-12-21 20:00:00
4418260,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/21/2020,16:00:00,REGULAR,5554,541,2020-12-21 16:00:00
4418259,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/21/2020,12:00:00,REGULAR,5554,541,2020-12-21 12:00:00
4418258,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/21/2020,08:00:00,REGULAR,5554,541,2020-12-21 08:00:00
4418257,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/21/2020,04:00:00,REGULAR,5554,541,2020-12-21 04:00:00
4418256,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/21/2020,00:00:00,REGULAR,5554,541,2020-12-21 00:00:00
4418255,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2020,20:00:00,REGULAR,5554,541,2020-12-20 20:00:00
4418254,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2020,16:00:00,REGULAR,5554,541,2020-12-20 16:00:00
4418253,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2020,12:00:00,REGULAR,5554,541,2020-12-20 12:00:00
4418252,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2020,08:00:00,REGULAR,5554,541,2020-12-20 08:00:00
4418251,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2020,04:00:00,REGULAR,5554,541,2020-12-20 04:00:00
4418250,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/20/2020,00:00:00,REGULAR,5554,541,2020-12-20 00:00:00
4418249,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/19/2020,20:00:00,REGULAR,5554,541,2020-12-19 20:00:00
4418248,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/19/2020,16:00:00,REGULAR,5554,541,2020-12-19 16:00:00
4418247,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/19/2020,12:00:00,REGULAR,5554,541,2020-12-19 12:00:00
4418246,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/19/2020,08:00:00,REGULAR,5554,541,2020-12-19 08:00:00
4418245,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/19/2020,04:00:00,REGULAR,5554,541,2020-12-19 04:00:00
4418244,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/19/2020,00:00:00,REGULAR,5554,541,2020-12-19 00:00:00
4205986,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/18/2020,20:00:00,REGULAR,5554,541,2020-12-18 20:00:00
4205985,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/18/2020,16:00:00,REGULAR,5554,541,2020-12-18 16:00:00
4205984,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/18/2020,12:00:00,REGULAR,5554,541,2020-12-18 12:00:00
4205983,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/18/2020,08:00:00,REGULAR,5554,541,2020-12-18 08:00:00
4205982,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/18/2020,04:00:00,REGULAR,5554,541,2020-12-18 04:00:00
4205981,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/18/2020,00:00:00,REGULAR,5554,541,2020-12-18 00:00:00
4205980,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/17/2020,20:00:00,REGULAR,5554,541,2020-12-17 20:00:00
4205979,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,12/17/2020,16:00:00,REGULAR,5554,541,2020-12-17 16:00:00

In [47]:
## Below are the stations with the highest numbr of cumulative riders out of the entire dataset over the entire dataset. 
## 

station_totals.head()

             STATION  DAILY_ENTRIES
61    34 ST-PENN STA      5487455.0
59   34 ST-HERALD SQ      4187187.0
217    FLUSHING-MAIN      3974386.0
233  GRD CNTRL-42 ST      3886202.0
46             23 ST      3556540.0
212        EUCLID AV      3462777.0
226        FULTON ST      3355790.0
115            96 ST      3320869.0
9             125 ST      3223380.0
110            86 ST      3168741.0
85             59 ST      3135802.0
366          WALL ST      3132941.0
262        KINGS HWY      3003175.0
68   42 ST-PORT AUTH      2899127.0
14    14 ST-UNION SQ      2883608.0
315     PATH NEW WTC      2697072.0
72    47-50 STS ROCK      2650284.0
353   TIMES SQ-42 ST      2542974.0
257  JKSN HT-ROOSVLT      2466411.0
182   CHRISTOPHER ST      2447706.0
218       FORDHAM RD      2343405.0
13             14 ST      2259138.0
177   CATHEDRAL PKWY      2191034.0
86    59 ST COLUMBUS      2096485.0
199        DEKALB AV      2072532.0
104             8 AV      2031045.0
173         CANAL ST      1924593.0
6             116 ST      1865253.0
180      CHAMBERS ST      1835725.0
125   ATL AV-BARCLAY      1790294.0
319      PELHAM PKWY      1781137.0
183        CHURCH AV      1780873.0
0               1 AV      1631023.0
133         AVENUE U      1614863.0
235     GROVE STREET      1558595.0
15            145 ST      1551516.0
97             72 ST      1534080.0
341      SOUTH FERRY      1467260.0
259    JUNCTION BLVD      1427027.0
24            168 ST      1405412.0
127         AVENUE H      1360197.0
312      PARKCHESTER      1353098.0
16    149/GRAND CONC      1348280.0
282        MORGAN AV      1345529.0
252   JAMAICA CENTER      1344967.0
78             50 ST      1339387.0
168  BROOKLYN BRIDGE      1318592.0
103            79 ST      1312870.0
288  MYRTLE-WILLOUGH      1312792.0
258   JOURNAL SQUARE      1307534.0

In [52]:
station_daily_entries = station_daily.groupby('STATION')['DAILY_ENTRIES'].sum() \
    .reset_index() \
    .sort_values('DAILY_ENTRIES', ascending=False)

station_daily_entries.head()

             STATION  DAILY_ENTRIES
61    34 ST-PENN STA      5487455.0
59   34 ST-HERALD SQ      4187187.0
217    FLUSHING-MAIN      3974386.0
233  GRD CNTRL-42 ST      3886202.0
46             23 ST      3556540.0
212        EUCLID AV      3462777.0
226        FULTON ST      3355790.0
115            96 ST      3320869.0
9             125 ST      3223380.0
110            86 ST      3168741.0
85             59 ST      3135802.0
366          WALL ST      3132941.0
262        KINGS HWY      3003175.0
68   42 ST-PORT AUTH      2899127.0
14    14 ST-UNION SQ      2883608.0
315     PATH NEW WTC      2697072.0
72    47-50 STS ROCK      2650284.0
353   TIMES SQ-42 ST      2542974.0
257  JKSN HT-ROOSVLT      2466411.0
182   CHRISTOPHER ST      2447706.0
218       FORDHAM RD      2343405.0
13             14 ST      2259138.0
177   CATHEDRAL PKWY      2191034.0
86    59 ST COLUMBUS      2096485.0
199        DEKALB AV      2072532.0
104             8 AV      2031045.0
173         CANAL ST      1924593.0
6             116 ST      1865253.0
180      CHAMBERS ST      1835725.0
125   ATL AV-BARCLAY      1790294.0
319      PELHAM PKWY      1781137.0
183        CHURCH AV      1780873.0
0               1 AV      1631023.0
133         AVENUE U      1614863.0
235     GROVE STREET      1558595.0
15            145 ST      1551516.0
97             72 ST      1534080.0
341      SOUTH FERRY      1467260.0
259    JUNCTION BLVD      1427027.0
24            168 ST      1405412.0
127         AVENUE H      1360197.0
312      PARKCHESTER      1353098.0
16    149/GRAND CONC      1348280.0
282        MORGAN AV      1345529.0
252   JAMAICA CENTER      1344967.0
78             50 ST      1339387.0
168  BROOKLYN BRIDGE      1318592.0
103            79 ST      1312870.0
288  MYRTLE-WILLOUGH      1312792.0
258   JOURNAL SQUARE      1307534.0

In [51]:
## Export this table as a csv 
# Write DataFrame to CSV
station_daily_entries.to_csv('tables_to_join/busiest_subway_stations.csv', index=False)